body{
    background-color: grey;
}

/*LISTA 1 */

.lista1{
    border: 2px dashed rgb(127, 1, 158);
    border-width: 4px;
    width: 10%;
    display: inline-block;
    margin-right: 20px;
    background-color: rgb(76, 126, 76);
    text-align: center;
}  

/*LISTA 2 */
.derecha{
    text-align: right;
    margin-right: 150px;
    
}
.lista2{
    background-color: white;
    display: inline-block;
    border-bottom: 2px outset rgb(8, 6, 6);
    border-right: 2px outset black;
    padding: 5px;
    margin-left: 20px;
}

/*LISTA 3 */

.div3{
    border: 2px solid black;
    margin-right: 1090px;
}

.lista3{
    border: 2px solid black;
    display: block;
    margin-top: 5px;
    text-align: center;
    width: 150px;
    background-color: white;
    padding: 5px;
}

/*LISTA 4 */

.derecha-4{
    text-align: right;
}

.lista4{
    display: inline-block;
    background-color: white;
    padding: 5px;
    width: 10%;
    text-align: center; 
}

.lista4-1{
    display: inline-block;
    background-color: blue;
    padding: 5px;
    width: 10%;
    text-align: center; 
}

/*LISTA 5 */

.lista5{
    display: inline-block;
    margin-right: 20px;
}