body{
    background-color: pink;
}

.titulo{
    color: rgb(187, 73, 7);
}

.titulo2{
    color: orange;
}

.fondo1{
    margin-top: 50px;
    background-color: aqua;
    margin-right: 950px;
    padding-left: 10px;
    font-size: 50px;
}

.fondo2{
    margin-top: 50px;
    background-color: rgb(21, 199, 36);
    margin-right: 950px;
    padding-left: 10px;
    font-size: 50px;
}


.fondo3{
    margin-top: 50px;
    background-color: rgb(248, 107, 14);
    margin-right: 950px;
    padding-left: 10px;
    font-size: 50px;
}

p{
    border: 2px solid white;
    background-color: rgb(109, 107, 107);
    color: white;
    text-align: center;
    margin-right: 950px;
}

